.imagen1{text-align: center;}

.inicio{}

.especificos{background-color: rgb(96, 230, 96);
color:black ;}

.tecno{background-color: grey;}

.partealta{
color: white;}

.objetivogeneral{text-align: center;
font-size: 130%;
color: azure;}

.objetivos-es{text-align: left;
    font-size: 130%;}
    
.tecnologias{text-align: left;
        font-size: 100%;}

.contenido1{font-size: 110%;}    

.contenido2{font-size: 110%;}

.contenido3{font-size: 110%;}

.contenido-footer{display: flex;
gap: 25rem;}

.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    color: var(--secondary-color);
}

.footer-bar{
    margin: auto;
    text-align: center;
    font-size: 1rem;}

.partelinks{color: white;}

.links{list-style: none;
    display: flex;
    gap: 40rem;
    font-size: 110%;}


.footer{color:white;}

body{background-color: rgb(99, 36, 36);}

.inicio h3 {color:chartreuse;
}

.link a {
    color: green;   
    }
    
.fotoagro{text-align: center;}






























<!--<div class="action-btns">
                    <button class="btn">Book Trip</button>
                    <div class="story">
                        <div class="video-image">
                            <img src="assets/story.jpg" alt="story">
                            <span><i class="ri-play-fill"></i></span>
                        </div>
                        <span>Watch our story</span>
                    </div>
                </div>-->>